EXPO_PUBLIC_ENDPOINT=https://cloud.appwrite.io/v6
EXPO_PUBLIC_PLATFORM=com.yourorg.example
EXPO_PUBLIC_PROJECT_ID=os90df98v09b8g5s3
EXPO_PUBLIC_DATABASE_ID=679fgd4gh34we3iujkgjkre9
EXPO_PUBLIC_USER_COLLECTION_ID=8df897h9we89r7h87nm1m189tj6k5
EXPO_PUBLIC_REMINDER_COLLECTION_ID=32d1f5tgy89ws56g1j1l3gh87
EXPO_PUBLIC_STORAGE_ID=89gh7jk9wwer87ny8jk79o4lñ65